@charset "utf-8";

body, div, dl, dt, dd, li, pre, form, fieldset, input, textarea {
	margin:0;
	padding:0;
}
body{
	color:#444;
	background:#fff;
	font-size:12px;
	line-height:1.5;
	font-family: Tahoma, sans-serif;
}
h1, h2, h3, h4, h5, h6{
	margin: 0 0 1em;
	padding: 0 0 4px 0;
}
h1 {
	color: #000;
	font-size: 32px;
}
h6 {
	margin: -2em 0 0;
	color: #999;
	font-size: 16px;
	font-weight: normal;
}
h2 {
	color: #000;
	font-size: 20px;
	border-bottom:1px solid #ccc;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	padding-top:1em;
	font-size:14px;
	color:#000;
	border-top:1px dashed #ccc;
}
h2 + h5{
	border-top:none;
}
p {
	margin:0 0 1em 0;
}
table {
	margin: 0 0 1em 0;
	caption-side: top;
	border-collapse:collapse;
	empty-cells: show;
}
caption {
	padding: 5px 0;
	text-align: right;
	color: #999;
}
th,td{
	text-align:left;
	vertical-align:top;
	border: 1px solid #ccc;
	padding: 5px 8px;
}
thead td, thead th {
	background: #eee;
	border-bottom: 1px solid #999;
}
tbody tr:nth-child(even){
	background: #efefef;
}
a {
	color:#09c;
}
a:hover {
	color:#c36;
}
img {
	display:block;
	border:0;
}
ul {
	margin: 0 0 1em;
	padding:0 0 0 2em;
	list-style:square;
}
ul ul {
	list-style: disc;
}
ol {
	margin: 0 0 1em;
	padding:0 0 0 2em;
}
ol ol {
	list-style: lower-alpha;
}
li {
	margin: 0.5em 0;
}
menu {
	list-style: none;
}
dl {
	margin:0 0  1em;
	padding:0;
}
dt {
	margin: 0 0 0.5em;
	font-weight: bold;
}
dd {
	margin: 0 0 1em 1em;
}
blockquote {
	padding: 15px 0;
	margin: 1em 24% 1em 4%;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	text-indent: 2em;
	font-size:12px;
}
cite {
	display: block;
	margin: 0 0 1em;
	color: #ccc;
	font-style: normal;
	text-indent: 0;
	font-size:12px;
}
blockquote+cite{
	text-align:right;
}
ins {
	text-decoration: none;
	border-bottom: 1px dotted;
}
del {
	color: #ccc;
}
var {
	font-family:"Courier New", Courier, monospace;
	font-style:normal;
	font-weight:bold;
	/*text-shadow:#ff3300 -1px -1px 0px;*/
	color:#ff6600;
	padding:0 4px;
}
pre {
	margin: 1em 0 1em 0;
	padding:0 0 1em 1em;
}
code {
	font-family:"Courier New", Courier, monospace;
	white-space:pre;
}
input,label,select,option,textarea,button,fieldset,legend{
	font-size: 1em;
	font-family: Tahoma,sans-serif;
}
input[type=text] {
	color:#444;
	border-color:#9f9f9f #dcdcdc #dcdcdc #9f9f9f;
	border-style:solid;
	border-width:1px;
	padding:3px 2px;
	height:14px
}
input[type=radio], input[type=checkbox] {
	vertical-align:-2px;
}
input[type=radio]+label,input[type=checkbox]+label{
	margin: auto 5px auto 2px;
}
textarea{
	border-color:#9f9f9f #dcdcdc #dcdcdc #9f9f9f;
	border-style:solid;
	border-width:1px;
	padding:1px;
}


body {
	padding: 10px;
	border-top: 10px solid #f60;
}
.header {
	height: 30px;
	padding: 0 0 10px;
	background: url(i/logo.png) repeat-x 0 39px;
}
.logo {
	display:block;
	width: 190px;
	height: 30px;
	background: url(i/logo.png) no-repeat 0 -1px;
	text-indent: -3000px;
	overflow: hidden;
}
.quick {
	position: relative;
	float: right;
	margin: -20px 0 0;
}
.quick li {
	height: 5px;
	display: inline-block;
	border-left: 5px solid #ddd;
	padding: 0 20px 0 8px;
	line-height: 5px;
}
.quick a {
	text-decoration: none;
	border-bottom: 1px dotted;
}

.nav {
	float: left;
	margin: 15px 0 0;
	width: 150px;
}

.nav ul {
	padding: 0;
	margin: 0 0 20px;
}
.nav ul>li {
	display:block;
	margin: 0 0 2px;
	list-style: none;
}
.nav ul>li>a {
	display:block;
	height: 20px;
	padding: 3px 10px;
	color: #333;
	text-decoration: none;
	background: #eee;
	line-height: 20px;
}
	.nav ul>li>a:before {
		content: ":: ";
		color: #aaa;
		font-weight: normal;
	}
.nav ul>li>a:hover {
	color: #fff;
	background: #f60;
}
	.nav>ul>li a:hover:before {
		color: #fff;
	}
.nav ul>li>a.on {
	color: #fff;
	background: #f60;
	font-weight: bold;
	cursor: default;
}
	.nav ul>li>a.on:hover {
		color: #fff;
		background: #f60;
	}
	.nav ul>li a.on:before {
		color: #fff;
	}

.nav ul>li>span{
	display:block;
	height: 20px;
	padding: 2px 9px;
	text-decoration: none;
	background: #fff;
	line-height: 20px;
}
.nav>ul>li>.group{
	color: #ff6600;
	text-align:right;
	font-weight:bold;
	font-size:14px;
}
.nav .not_yet {
	border: 1px dashed #ccc;
	color: #ccc;
}


.nav ul>li>ul{
	padding-left:15px;
}
.nav ul>li>ul>li>span.group{
	color: #333;
	text-align:left;
}
.nav ul>li>ul>li>a{
	
}

.article {
	float: right;
	width: 100%;
	margin: 15px 0 0 -150px;
}
.article>.inner {
	padding: 0 0 0 200px;
}
.hgroup {
	margin: 0 0 30px 0;
}
.hgroup menu {
	position:fixed;
	right:20px;
	top:80px;
	margin: 0;
	padding: 0 0 0 20px;
	max-width: 150px;
	color: #ccc;
	background: #fff;
}
.hgroup menu>ul,
.hgroup menu>ol {
	border-left: 4px dotted #f60;
	padding: 0 0 0 3em;
}
.hgroup menu a {
	color: #f60;
}

.section {
	margin: 0 20% 30px 0;
	padding: 0 0 24px 0;
	/*border-bottom: 1px solid #eee;*/
	font-size:14px;
}
.section blockquote{
	margin-right:4%;
}
.section menu{
	padding:0;
}

.accessibility {
	display: none;
}

.more{
	font-family: SimSun;
}
.credit{
	padding:1em;
	width:200px;
	float:right;
}
.console{
    width:500px;
    height:100px;
    background:#333;
    color:#fff;
    padding:10px;
	font-family:"Courier New", Courier, monospace;
}
