[submodule "contrib/URLKit"]
	path = contrib/URLKit
	url = https://github.com/dexteryy/URLKit.git
[submodule "contrib/EventMaster"]
	path = contrib/EventMaster
	url = https://github.com/dexteryy/EventMaster.git
[submodule "contrib/DollarJS"]
	path = contrib/DollarJS
	url = https://github.com/dexteryy/DollarJS.git
[submodule "contrib/ChoreoJS"]
	path = contrib/ChoreoJS
	url = https://github.com/dexteryy/ChoreoJS.git
[submodule "toolchain/grunt-ozjs"]
	path = toolchain/grunt-ozjs
	url = https://github.com/dexteryy/grunt-ozjs.git
[submodule "toolchain/ozma"]
	path = toolchain/ozma
	url = https://github.com/dexteryy/ozma.js.git
[submodule "contrib/mo"]
	path = contrib/mo
	url = https://github.com/dexteryy/mo.git
[submodule "contrib/moui"]
	path = contrib/moui
	url = https://github.com/dexteryy/moui.git
[submodule "contrib/SovietJS"]
	path = contrib/SovietJS
	url = https://github.com/dexteryy/SovietJS.git
[submodule "toolchain/istatic"]
	path = toolchain/istatic
	url = https://github.com/mockee/istatic.git
[submodule "toolchain/grunt-istatic"]
	path = toolchain/grunt-istatic
	url = https://github.com/mockee/grunt-istatic.git
[submodule "toolchain/generator-ozjs"]
	path = toolchain/generator-ozjs
	url = https://github.com/dexteryy/generator-ozjs.git
[submodule "toolchain/grunt-furnace"]
	path = toolchain/grunt-furnace
	url = https://github.com/dexteryy/grunt-furnace.git
[submodule "contrib/momo"]
	path = contrib/momo
	url = https://github.com/dexteryy/momo.git
[submodule "contrib/NervJS"]
	path = contrib/NervJS
	url = https://github.com/dexteryy/NervJS.git
